@{
    Layout = null; // Disable the layout for this view
    ViewData["Title"] = "Forgot Password";
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        label {
            text-align: left;
            display: block;
            margin-bottom: 5px;
        }

        .container {
            background-color: #fff;
            padding: 45px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
        }


        h1 {
            color: #333;
            margin-bottom: 20px;
            font-family: poppins;
            font-size: medium;
        }

        input[type="email"] {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            width: 100%;
            padding: 10px;
            border: none;
            background-color: #B0836E;
            color: white;
            cursor: pointer;
            border-radius: 5px;
        }

            button:hover {
                background-color: #A06A5C;
            }

        a {
            color: #CBAD8D;
        }

        .container .logo {
            font-size: 22px;
            font-family: 'Poppins';
            margin: 0;
            font-weight: bold;
            color: #B0836E;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="~/images/cozy-logo.png" alt="Cozy Homes Logo">
            <span class="logo">Cozy Homes</span>
        </div>

        <h1>Forgot Your Password?</h1>
        <form action="#">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Enter your email" required>
            </div>
            <a asp-controller="Login" asp-action="Login">
                <button type="submit" class="reset-btn">Continue</button>
            </a>
            <p>Remembered your password? <a asp-controller="Login" asp-action="Login">Log In</a></p>
        </form>
    </div>
</body>
</html>