@{
    Layout = null; // Disable the layout for this view
    ViewData["Title"] = "Login";
}


<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" asp-append-version="true">

    @* <link rel="stylesheet" href="~/RMS.auth.css" asp-append-version="true" /> *@
    <style>

        /*CSS for Login, Register, Forgot Password*/

        body {
            font-family: 'Poppins', Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        label {
            text-align: left;
            display: block;
            margin-bottom: 5px;
        }

        .container {
            background-color: #fff;
            padding: 40px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="checkbox"] {
            margin-right: 5px;
        }

        .form-group label {
            display: flex;
            align-items: center;
        }

        button {
            width: 100%;
            padding: 10px;
            border: none;
            background-color: #B0836E;
            color: white;
            cursor: pointer;
            border-radius: 5px;
        }

            button:hover {
                background-color: #B0836E;
            }

        a {
            color: #CBAD8D;
        }



        .forgot-password {
            display: block;
            margin: 10px 0;
            color: #CBAD8D;
            text-decoration: none;
            text-align: right;
        }

            .forgot-password:hover {
                text-decoration: underline;
            }

        .container .logo {
            font-size: 25px;
            font-family: 'Poppins';
            margin: 0;
            font-weight: bold;
            color: #B0836E;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="~/images/cozy-logo.png" alt="Cozy Homes Logo">
            <span class="logo">Cozy Homes</span>
        </div>
        <h1>Welcome to</h1>
        <h2>Cozy Homes Rental Management System</h2>
        <p>Please Login to your account.</p>
        <form asp-action="LoginUser" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            @* <div class="form-group">
            <label>
            <input type="checkbox"> Remember Me
            </label>
            </div> *@
            <a asp-controller="Login" asp-action="ForgotPass" class="forgot-password">Forgot Password?</a>
            <!-- <a asp-controller="Home" asp-action="Index" class="login-btn">  </a>-->
            <button type="submit" class="login-btn">Log In</button>


            <p>
                New member here? <a asp-controller="Login" asp-action="Register" class="register">Register Now</a>
            </p>
        </form>
    </div>

</body>
</html>
