@{
    //Layout = null; // Disable the layout for this view
    ViewData["Title"] = "Cozy Homes - Units";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!-- Homes List -->
<section class="select-home">
    <div class="container">

        <div class="card">
            <img src="~/images/flat.png" alt="House 1">
            <div class="content">
                <a asp-controller="PTenant" asp-action="PTenantDetails">

                    <h2>Oceanview Retreat</h2>
                    <div class="details">

                        <i class="fas fa-bed"></i> <span>4 Units</span>
                        <i class="fa-solid fa-building"></i> <span>20 Rooms</span>
                    </div>
                    <p>
                        Welcome to Oceanview Retreat, an exquisite beachfront
                        property located in the vibrant city of Miami, Florida.
                        Situated along the pristine shores of the Atlantic Ocean...
                    </p>
                </a>
            </div>
        </div>

        <div class="card">
            <img src="~/images/poolhouse.png" alt="House 2">
            <div class="content">
                <h2>Oceanview Retreat</h2>
                <div class="details">
                    <i class="fas fa-bed"></i> <span>4 Units</span>
                    <i class="fa-solid fa-building"></i> <span>20 Rooms</span>
                </div>
                <p>
                    Welcome to Oceanview Retreat, an exquisite beachfront
                    property located in the vibrant city of Miami, Florida.
                    Situated along the pristine shores of the Atlantic Ocean...
                </p>
            </div>
        </div>

        <div class="card">
            <img src="~/images/treehouse.png" alt="House 3">
            <div class="content">
                <h2>Oceanview Retreat</h2>
                <div class="details">
                    <i class="fas fa-bed"></i> <span>4 Units</span>
                    <i class="fa-solid fa-building"></i> <span>20 Rooms</span>
                </div>
                <p>
                    Welcome to Oceanview Retreat, an exquisite beachfront
                    property located in the vibrant city of Miami, Florida.
                    Situated along the pristine shores of the Atlantic Ocean...
                </p>
            </div>
        </div>

        <div class="card">
            <img src="~/images/bungalow.png" alt="House 4">
            <div class="content">
                <h2>Oceanview Retreat</h2>
                <div class="details">
                    <i class="fas fa-bed"></i> <span>4 Units</span>
                    <i class="fa-solid fa-building"></i> <span>20 Rooms</span>
                </div>
                <p>
                    Welcome to Oceanview Retreat, an exquisite beachfront
                    property located in the vibrant city of Miami, Florida.
                    Situated along the pristine shores of the Atlantic Ocean...
                </p>
            </div>
        </div>

        <div class="card">
            <img src="~/images/flat.png" alt="House 1">
            <div class="content">
                <h2>Oceanview Retreat</h2>
                <div class="details">
                    <i class="fas fa-bed"></i> <span>4 Units</span>
                    <i class="fa-solid fa-building"></i> <span>20 Rooms</span>
                </div>
                <p>
                    Welcome to Oceanview Retreat, an exquisite beachfront
                    property located in the vibrant city of Miami, Florida.
                    Situated along the pristine shores of the Atlantic Ocean...
                </p>
            </div>
        </div>

        <div class="card">
            <img src="~/images/poolhouse.png" alt="House 2">
            <div class="content">
                <h2>Oceanview Retreat</h2>
                <div class="details">
                    <i class="fas fa-bed"></i> <span>4 Units</span>
                    <i class="fa-solid fa-building"></i> <span>20 Rooms</span>
                </div>
                <p>
                    Welcome to Oceanview Retreat, an exquisite beachfront
                    property located in the vibrant city of Miami, Florida.
                    Situated along the pristine shores of the Atlantic Ocean...
                </p>
            </div>
        </div>

        <div class="card">
            <img src="~/images/treehouse.png" alt="House 3">
            <div class="content">
                <h2>Oceanview Retreat</h2>
                <div class="details">
                    <i class="fas fa-bed"></i> <span>4 Units</span>
                    <i class="fa-solid fa-building"></i> <span>20 Rooms</span>
                </div>
                <p>
                    Welcome to Oceanview Retreat, an exquisite beachfront
                    property located in the vibrant city of Miami, Florida.
                    Situated along the pristine shores of the Atlantic Ocean...
                </p>
            </div>
        </div>

        <div class="card">
            <img src="~/images/bungalow.png" alt="House 4">
            <div class="content">
                <h2>Oceanview Retreat</h2>
                <div class="details">
                    <i class="fas fa-bed"></i> <span>4 Units</span>
                    <i class="fa-solid fa-building"></i> <span>20 Rooms</span>
                </div>
                <p>
                    Welcome to Oceanview Retreat, an exquisite beachfront
                    property located in the vibrant city of Miami, Florida.
                    Situated along the pristine shores of the Atlantic Ocean...
                </p>
            </div>
        </div>
    </div>
</section>

