﻿@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* General reset */
body, ul {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    margin-left: 30px;
    margin-right: 30px;
}
/* --------------------------------------- HEADER --------------------------------------------- */
/* Top Bar Header */
.stop-header {
    background-color: #B0836E;
    padding: 10px 20px;
    font-size: 0.9rem;
    text-align: center;
}

/* Main Header Container */
.smain-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: whitesmoke;
    color: #B0836E;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
}

    /* Logo */
    .smain-header h1 {
        font-size: 25px;
        margin: 0;
        font-weight: bold;
        color: #B0836E;
    }

.logo {
    display: flex;
    align-items: center;
}

    .logo img {
        height: 20px;
        width: 50px;
        margin-right: 10px;
    }

/* Navigation Menu */
.smain-header nav ul {
    display: flex;
    list-style: none;
}

    .smain-header nav ul li {
        margin: 0 15px;
    }

        .smain-header nav ul li a {
            color: #B0836E;
            text-decoration: none;
            font-size: 18px;
            position: relative;
            font-weight: 500;
        }


            .smain-header nav ul li a::after {
                content: '';
                width: 0%;
                height: 3px;
                background: #B0836E;
                position: absolute;
                left: 0;
                bottom: -6px;
                transition: 0.5s;
            }

            .smain-header nav ul li a:hover::after {
                width: 100%;
            }

/* DROP-DOWN --------------------- */
.s-dropdown {
    position: relative;
    display: inline-block;
}

/* Style the button that opens the dropdown */
.s-dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Dropdown content (hidden by default) */
.sdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .sdropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .sdropdown-content a:hover {
            background-color: #f1f1f1;
        }

/* Show the dropdown menu on hover */
.s-dropdown:hover .sdropdown-content {
    display: block;
}

/* --------------------------------------- HOME PAGE --------------------------------------------- */
/* Banner Image */
.s-banner {
    margin-top: 0;
    width: 100%;
    height: 200px;
    text-align: center;
}

.sbanner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Centered text */
.s-centered {
    position: absolute;
    color: whitesmoke;
    font-size: 35px;
    font-weight: 500;
    white-space: nowrap;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Home Page Section -------------*/
.s-home {
    padding: 40px 10px;
    background-color: #e7e1d3;
}

.s-dashboard {
    max-width: 1200px;
    margin: auto;
    padding: 5px;
}

.swelcome-message {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

    .swelcome-message h2 {
        font-size: 1.5rem;
        margin-top: 40px;
        margin-bottom: 50px;
        color: #333;
        font-weight: 500;
        position: relative;
    }

        .swelcome-message h2::after {
            content: '';
            width: 10%;
            height: 5px;
            background: #333;
            position: absolute;
            left: 50%; /* Center it horizontally */
            bottom: -7px;
            transform: translateX(-50%);
        }

/* -----------------------------------------FOOTER------------------------------------------ */
footer {
    background-color: #B0836E;
    color: #ffd8bd;
    padding: 20px 0;
}

    footer p {
        text-align: center;
    }

    footer a {
        color: whitesmoke;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
        }
/*Assignment Page*/
/*#assignment-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}*/
/* Header panel to keep everything aligned */
.header-panel {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    /* Aligning Maintenance Assignment text */
    .header-panel h2 {
        font-size: 24px;
        margin: 0;
        flex-grow: 1; /* Let the heading grow and take remaining space */
    }

.search-bar {
    display: flex;
    align-items: center;
}

    .search-bar input {
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .search-bar button {
        font-size: 16px;
        margin-left: 1px;
        margin-right: 20px;
        padding: 5px 10px;
        background-color: #B0836E;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .search-bar button:hover {
            border-color: #B0836E;
            background-color: beige;
            color: black;
        }

/* Table styles */
.table-container table {
    width: 93.5%;
    justify-content: center;
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: 40px;
}

.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-container th {
    background-color: #B0836E;
    color: white;
    font-weight: bold;
}

.pagination {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
}

    .pagination button {
        padding: 10px 15px;
        margin: 0 5px;
        border: none;
        background-color: #B0836E;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }

        .pagination button:hover {
            border: 1px;
            border-color: #B0836E;
            background-color: transparent;
            color: black;
        }

/* Date dropdown alignment */
.dropdown-container {
    display: inline-block;
    margin-left: 20px;
    margin-right: 30px;
}

select {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}
