@{
    ViewData["Title"] = "Cozy Homes - Payment";
    Layout = "~/Views/Shared/_LayoutATenant.cshtml";
}

@model List<PaymentsDisplayModel>


<!-- Home Details Section -->
<section class="payment">
    <div class="pay-container">
        <h2>Payment History</h2>
        <table>
            <thead>
                <tr>
                    <th>Payment Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>View Invoice</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var payment in Model)
                {
                    <tr>
                        <td>@payment.PaymentDate?.ToString("MMMM d, yyyy")</td>
                        <td>@String.Format("{0:C}", payment.Amount).Replace("$", "₱")</td>                      
                        <td>@payment.PaymentStatus</td>
                        <td>
                            <a href="@Url.Action("ViewInvoice", "Payment", new { id = payment.PaymentID })">
                                <i class="fas fa-receipt"></i>Receipt
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @* <div class="button-container">
            <button class="pay-button">Pay</button>
            <button class="invoice-button">See Invoices</button>
        </div> *@
    </div>
</section>